@model IEnumerable<NHibernateTestProject.Models.Category>

@{
    ViewData["Title"] = "Index";
}

<h3 style="text-align:center;">List of Categories</h3>
@if (ViewBag.role == "admin")
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}
    <table class="table" style="margin-left:5px;">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.category_id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.category_id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                       
<td>
                        <a class="btn btn-sm btn-success" asp-action="Edit" asp-route-id="@item.category_id">
                            Update
                        </a>
                    </td>
                    <td>
                        <form asp-action="Delete" asp-route-id="@item.category_id" method="post">
                            <button type="submit" class="btn btn-sm btn-danger">
                                Delete
                            </button>
                        </form>
                    </td>
               
                </tr>
            }
        </tbody>
    </table>
